html {
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

:root{
  --text-dark: #2b3531;
  --lgreen: rgba(145,168,140);
  --bg-primary: #f4f0e1;
  --orange: rgba(247,71,0);
  --d-orange: rgba(181,58,37); /*text color orange*/
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--d-orange);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--orange);
}

#title {
  background-color: var(--bg-primary);
  color: #fff;
}

body {
  font-family: "Comfortaa", cursive;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1.5;
  padding-bottom: 20px;
}

h2 {
  font-weight: bolder;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-size: 20px;
  font-family: "Comfortaa", cursive;
  font-weight: 900;
}


/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-size: 2rem;
  font-weight: normal;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: bold;
  color: #111 !important;
}

.nav-link:hover{
  color: var(--d-orange) !important;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#pad {
  margin-right: 10px;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#open_source_desc{
  color: var(--d-orange);
  font-size: 20px;

}

.comp_logo{
  margin-left: 40px;
  height: 30px;
}

@media (min-width: 768px) { 

  .comp_logo{
    height: 57px;
  }
 }


/* Register button */

.register-button-top {
  background-color: var(--orange);
  border-radius: 20px;
  font-weight: bold;
  display: inline-block;
  color: #fff !important;
}

.register-button-bottom {
  margin: 5% 3% 5% 0;
  color: #212529 !important;
}

/* Golbal stats section */

.global-stats-header {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#global-stats {
  padding: 7% 15%;
  background-color: #fff;
}

.global-stats-row {
  text-align: center;
  padding: 5%;
}

.card-body{
  text-align:left;
}

.icon {
  color: var(--lgreen);
  margin-bottom: 1rem;
}

/* repos */
.repo-card {
  margin: auto;
  margin: 20px;
}

.assoc-repo {
  background: #072540;
}

/* Fest Info */

#fest-info {
  text-align: center;
  background-color: #9c4668;
  color: #fff;
  margin-bottom: 40px;
}

.about-hacktoberfest {
  padding: 7% 15%;
  font-size: 30px;
  line-height: 1.5;
  color: #fff;
}

span {
  font-size: 40px;
  font-weight: bold;
}

/* Schedule */

#schedule {
  padding: 7% 10%;
  text-align: center;
  overflow:hidden;
}

.schedule-column {
  padding: 2% 2%;
}
.card {
  height: 250px;
  width: 300px;
  color:black;
  background-color: white;
}

.timing {
  font-weight: bold;
  font-size: 20px;
}

.schedule-content {
  padding-top: 10px;
  font-size: 30px;
  text-align: center;
  color: black;
  font-weight: bold;
}

/* Prizes */

#prizes {
  background-color: var(--d-orange);
  padding: 7% 10%;
}

.prizes-header {
  color: rgba(255,247,237);
  text-align: center;
  padding-bottom: 3rem;
}
.prizes {
  text-align: left;
  font-weight: bolder;
  color: rgba(255,247,237);
}

.prizes-content {
  text-align: left;
  font-size: large;
  color: rgba(255,247,237);
}

.conditions{
  color: rgba(255,247,237);
}

/* Call to Action */

#cta {
  background-color: #072540;
  color: #fff;
  text-align: center;
  padding: 7% 15%;
}

.cta-quote {
  font-size: 3.5rem;
  line-height: 1.5;
  padding-bottom: 40px;
}

/* Footer */

#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-icon {
  padding: 20px 10px;
  transform: scale(1.5);
  color: #072540;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    /* so that when it switches to tablet/ mobile size, it's position should be fixed */

    transform: rotate(0);
    /* so that when it switches to tablet/mobile size, the image becomes straight */
  }

  .cover {
    margin-top: 25px;
  }
}

/*back to top button*/
#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; /* Make sure it does not overlap */
  border: none; 
  outline: none;
  background-color: #8ac1d1; 
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 100px; 
  font-size: 30px; 
  line-height: 31px;
  padding-bottom: 0;
}

#myBtn:hover {
  background-color: #555; 
}
